@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* font-family: 'Cabin Sketch', cursive;
font-family: 'Patrick Hand', cursive;
*/
@font-face{
    font-family: "cabinsketch";
    src: url(../font/CabinSketch-Regular.ttf);
}
@font-face{
    font-family: "SolidSlash";
    src: url(../font/Typo_DecoSolidSlash.ttf);
}
@font-face{
    font-family: "tradizional ";
    src: url(../font/tradizional\ DEMO.otf);
}
@font-face{
    font-family: "sketch3D";
    src: url(../font/Sketch\ 3D.otf);
}
/* ***********************************MAIN PAGE COMMON****************************** */
html{
    font-size: 20px;
}
body{
    font-size: 1rem;
    background: #ff9f2d;
}
#wrap>section>div{
    max-width: 65rem;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
}
/* ***********************************HEADER*************************************** */

.Hamburger{
    position: absolute;
    width: 20rem;
    height: 100%;
    top: 0;
    left: -20rem;
    background: #ff9f2d;
    box-shadow: 2px -2px 2px rgba(0,0,0,0.5);
    border-radius: 0 8rem 0 0;
    z-index: 10;
    transition: .5s;
    position: fixed;
}
.Hamburger h1{
    text-align: center;
    font-size: 4rem;
    line-height: 3;
    font-family: "tradizional ";
    color: #fff;
}
.Hamburger nav{
    width: 90%;
    margin: 0 auto;
    line-height: 3;
    height: 100%;
    text-align: center;
}

.Hamburger .mainmenu>a{
    color: black;
    /*  padding: .5rem 0;  */
    display: block;
    font-family: "cabinsketch";
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
    position: relative;
    background: #ff9f2d;
    margin: 1rem;
    letter-spacing: .2rem;
}   
 .Hamburger .mainmenu>a::after{
     content: "";
     display: block;
     position: absolute;
     z-index: -1;
     top: 0;
    bottom: -15%;
    right: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background: repeating-linear-gradient(
        -45deg,
        #ff9f2d,
        #ff9f2d 3px,
        black 3px,
        black 5px
    );
} 
.Hamburger .sub>li{
    z-index: -3;
    display: block;
    background: #fff;
    margin: 0 auto;
    width: 13rem;
   z-index: -4;
   font-size: .8rem;
   font-family: 'Cabin Sketch', cursive;
}
.Hamburger .sub>li:hover{
    background: #296dac;
    color: #fff;
    cursor: pointer;
}
.Hamburger .sub>li>a{
    color: black;
}
.Hamburger .sub>li:hover a{
    color: #fff;
    font-weight: 600;
}
.Hamburger.active{
    left: 0;
}
/* ***********************************HAMBURGER Span************************************ */
.Hamburger .menuBtn{
    position: absolute;
    left: calc(100% + 3rem);
    top: 5%;
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    background: none;
    z-index: 10;
   
}
.Hamburger .menuBtn span{
    width: 2rem;
    height: .3rem;
    background: #ff9f2d;
    margin: .3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: .5s;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.Hamburger .menuBtn span:nth-child(2){
    width: 1.5rem;
}
/********************************************* Hamburger Span Active */
 .menuBtn:hover span:nth-child(1), .menuBtn.active span:nth-child(1){ width: 1.5rem; }  
 .menuBtn:hover span:nth-child(2), .menuBtn.active span:nth-child(2){background: #296dac; width: 2rem;}
 .menuBtn:hover span:nth-child(3), .menuBtn.active span:nth-child(3){ width: 1.5rem;} 

 /* **********************************Micon Menu************************************ */

 .Micon{
    /* width: 100%;
    height:100vh; */
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    transition: 1s;
    opacity: 0;
 } 
 .Micon.active{
     opacity: 1;
     position: absolute;
     top: -50%;
     bottom: -50%;
 }
 .Micon nav{
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 30%;
     height: 30rem;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 3;
     text-align: center;  
     z-index: 1000;
     font-family: "cabinsketch";
 }
 .Micon .onePage>a{
    color: black;
   /*  padding: .5rem 2rem; */
    display: block;
    width: 15rem;
    letter-spacing: .25rem;
    font-family: "cabinsketch";
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
    position: relative;
    background: #ff9f2d;
    margin: 1rem;
}   
.Micon .onePage>a::after{
     content: "";
     display: block;
     position: absolute;
     z-index: -1;
     top: 0;
    bottom: -15%;
    right: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background: repeating-linear-gradient(
        -45deg,
        #ff9f2d,
        #ff9f2d 3px,
        black 3px,
        black 5px
    );
} 
.Micon .Sec>li{
    z-index: -3;
    display: block;
    background: #fff;
    margin: 0 auto;
    width: 13rem;
   z-index: -4;
   font-size: .8rem;
   font-family: 'Cabin Sketch', cursive;
}
.Micon .Sec>li:hover{
    background: #296dac;
    color: #fff;
    cursor: pointer;
}
.Micon .Sec>li>a{
    color: black;
}
.Micon .Sec>li:hover a{
    color: #fff;
    font-weight: 600;
}

/* **********************************Micon Menu Span************************************ */
.mainM{
    position: absolute;
    right: 2rem;
    top: 5%;
    width: 2rem;
    height: 2rem;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
    position: fixed;
/*     border: 1px solid red; */
    
}
.mainM span{
    width: .35rem;
    height: .35rem;
    background: #296dac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .3rem 0;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

/* .mainM:hover span:nth-child(1), */ .mainM.active span:nth-child(1){
   position: absolute;
   top: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    width: 2rem;
    height: .3rem;
    background: #ff9f2d;
    border-radius: .3rem;
    box-shadow: 0 0 2px rgba(0,0,0,0.3); 
}
/* .mainM:hover span:nth-child(2), */ .mainM.active span:nth-child(2){
    display: none;
}
/* .mainM:hover span:nth-child(3),  */.mainM.active span:nth-child(3){
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    width: 2rem;
    height: .3rem;
    background: #ff9f2d;
    border-radius: .3rem;
    box-shadow: 0 0 2px rgba(0,0,0,0.3); 
}
/* **********************************Content 01 ************************************ */
#content01>div{
    width: 100%;
    height: 35rem;
    position: relative;
    display: flex;
    padding: 1rem;
    background: url(../images/kayakwebsite.jpg) no-repeat center/cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}
#content01>div::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../images/kayakwebsite.jpg) no-repeat center/cover;
    z-index: -1;
}
section{
    margin: 2.5rem;
}
.imgArea{
    flex: 2.1;
    position: relative;
}
/* .imgArea .kayakW{
    position: absolute;
    top: 20%;
    right: -5%;
    width: 80%;
    height: 20rem;
    background-position: 3rem 0;
    border-radius: 1rem 0 0 1rem;
  box-shadow: inset 2px -2px 4px rgba(0,0,0,0.3), 
    inset 2px -2px 4px rgba(255,255,255,1), 0 3px 20px rgba(134, 108, 108, 0.2); 
} */

.detail{
    flex: 1;
    margin-left: 2rem; 
    margin-top: 12rem;
   z-index: 1;
}

.detail ul h2{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Cabin Sketch';
}
.detail ul li{
    margin-top: 2rem;
    font-size: .7rem;
}
.detail .summary{
    display: flex;
    
}
.detail .summary p{
    line-height: 1.5;
}
.detail .summary p span{
    font-weight: 600;
}
.detail ul li strong{
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
/* Color ************************************ */
.detail ul li .palette{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.palette span, .palette01 span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
 .palette .color01{
    background: #FF690F;
}
.palette .color02{
    background: #ff6e00;
}
.palette .color03{
    background: #173957; 
    
}
.palette .color04{
    background: #395F7F;
    
}
.palette .color05{
    background: #6EE5FE;
}
.palette .color06{
    background: #CDE4F8;
}
.palette .color07{
    background: #128BA2;
} 
.palette01{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
}
.detail .siteD{
    margin-top: 2rem;
    background: #fff0e3;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    border: 3px solid #ff6e00;
    transform-style: preserve-3d;
    transition: all 0.1s ease-in-out;
}
.detail .siteD::before{
    position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ff9b4e;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #ff6e00, 0 0.5rem 0 0 #ffe9d6;
      transform: translate3d(0, 0.4em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
          box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.detail .siteD a{
    font-weight: 600;
    color: #ff6e00;
    letter-spacing: .25rem;
    font-family: "cabinsketch";
}
.detail .siteD:hover{
    transform: translate(0, 0.25em);  
} 
 .detail .siteD:hover::before{
    box-shadow: 0 0 0 2px #ff6e00, 0 0.5em 0 0 #ffe9d6; 
    transform: translate3d(0, 0.5em, -1em);
}
.detail .siteD:hover, .detail .siteD.active{
    transform: translate(0em, 0.75em);
}
.detail .siteD:hover::before, .detail .siteD.active{
    box-shadow: 0 0 0 2px #ff6e00, 0 0 #ffe9d6;
    transform: translate3d(0, 0, -1em);
}   

/* **********************************Content 02 ************************************ */
#content02>div{
    position: relative;
    width: 100%;
    height: 35rem;
    display: flex;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}
#content02>div::after{
    position: absolute;
    content: "";
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../images/originsportfolio.jpg) no-repeat center/cover;
}
#content02 .detail{
    flex: 1;
    margin-left: 2rem; 
    margin-top: 11rem;
   z-index: 1;
}

/* ************************************ Color */
#content02 .detail .palette{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 4rem;
    
}
#content02 .detail .palette .color01{
    background: #006707;
}
#content02 .detail .palette .color02{
    background:rgb(42, 121, 43) ;
}
#content02 .detail .palette .color03{
    background: #58bb44;
}
#content02 .detail .palette .color04{
    background: #84d342;
}
#content02 .detail .palette .color05{
background: #444;
}
#content02 .detail .siteD{
    background: rgb(222, 252, 222);
    border: 3px solid rgb(42, 121, 43);
}
#content02 .detail .siteD::before{
    background: rgb(84, 177, 84);
    box-shadow: 0 0 0 2px rgb(42, 121, 43), 0 0.5rem 0 0 rgb(222, 252, 222);
}
#content02 .detail .siteD a{
    font-weight: 600;
    color:rgb(42, 121, 43);
}
#content02 .detail .siteD::before{
    box-shadow: 0 0 0 2px rgb(42, 121, 43), 0 0.5em 0 0 rgb(222, 252, 222); 
}
 #content02 .detail .siteD::before, #content02 .detail .siteD.active{
    box-shadow: 0 0 0 2px rgb(42, 121, 43), 0 0 rgb(222, 252, 222);
 }
/* **********************************Content 03 ************************************ */
#content03>div{
    width: 100%;
    height: 35rem;
    position: relative;
    display: flex;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}
#content03>div::after{
    position: absolute;
    content: "";
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: url(../images/chanel.JPG) no-repeat center/cover;
}
#content03 .imgArea{
    position: relative;
}
#content03 .detail{
    flex: 1.5;
    margin-left: 2rem; 
    margin-top: 9rem;
   z-index: 1;
}
/* ************************************ Color */
#content03 .detail .palette{
    padding-right: 4rem;
}
#content03 .detail .palette .color01{
    background: #000;
}
#content03 .detail .palette .color02{
    background: #444;
}
#content03 .detail .palette .color03{
   
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#content03 .detail .palette .color04{
    background: none;
}
#content03 .detail .palette .color05{
    background: none;
}
#content03 .detail .palette .color06{
    background: none;
}
#content03 .detail .palette .color07{
    background: none;
}
#content03 .detail .siteD{
    background: rgb(250, 247, 247);
    border: 3px solid #000;
}
#content03 .detail .siteD::before{
    background: #92908d;
    box-shadow: 0 0 0 2px #000, 0 0.5rem 0 0 rgb(228, 222, 222);
}
#content03 .detail .siteD a{
    font-weight: 600;
    color: #000;
    letter-spacing: .25rem;
    font-family: "cabinsketch";
}
#content03 .detail .siteD:hover::before{    
    box-shadow: 0 0 0 2px #000, 0 0.5em 0 0 rgb(228, 222, 222); 
}
#content03 .detail .siteD:hover::before, .detail .siteD.active{
    box-shadow: 0 0 0 2px #000, 0 0 rgb(228, 222, 222);
}  
/* **********************************Content animation ************************************ */
/*  #content01 .detail{opacity: 0; left: -50%; transition: .5s;}
#content01 .imgArea{opacity: 0; right: -50%; transition: .5s;} 

#content01 .detail.active{animation: left 1s ease-in-out forwards;}
#content01 .imgArea.active{animation: right 1s ease-in-out forwards;}

 #content02 .detail{opacity: 0; right: -50%;}
#content02 .imgArea{opacity: 0; left: -50%;} 

#content02 .detail.active{animation: right 1s 1s ease-in-out forwards;}
#content02 .imgArea.active{animation: left 1s 2s ease-in-out forwards;} 

 #content03 .detail{opacity: 0; right: -50%;}
#content03 .imgArea{opacity: 0; left: -50%;} 

#content03 .detail.active{animation: right 1s 1s ease-in-out forwards;}
#content03 .imgArea.active{animation: left 1s 2s ease-in-out forwards;}  */

/* ********************************** animation  common************************************ */
@keyframes left{
    from{ left: -50%; opacity: 0; }
    to{ left: 0; opacity: 1; }
}
@keyframes right{
    from{ right: -50%; opacity: 0; }
    to{ left: 0; opacity: 1; }
}
