@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto:wght@300;400&display=swap');
/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Libre Barcode 39 Text', cursive; */
/* font-family: 'Roboto', sans-serif; */
@font-face{
    font-family: "BinggraeSamanco";
    src: url(../font/BinggraeSamanco.ttf);
}
@font-face{
    font-family: "DXhaneul";
    src: url(../font/DXHanlgrum-KSCpc-EUC-H.ttf);
}
body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
/* **********************************Micon Menu************************************ */

.Micon{
   /*  width: 100%;
    height:100vh; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: 1s;
    opacity: 0;
    z-index: 10;
 } 
 .Micon.active{
     opacity: 1;
     height: 100vh;
    
 }
 .Micon nav{
    position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 30%;
     height: 30rem;
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 3;
     text-align: center;  
     z-index: 1000000;
     font-family: "cabinsketch";
 }
 .Micon .onePage>a{
    color: black;
   /*  padding: .5rem 2rem; */
    display: block;
    width: 15rem;
    letter-spacing: .25rem;
    font-family: "cabinsketch";
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
    position: relative;
    background: orange;
    margin: 1rem;
}   

.Micon .Sec>li{
    z-index: -3;
    display: block;
    background: #fff;
    margin: 0 auto;
    width: 13rem;
   font-size: .8rem;
   font-family: 'Cabin Sketch', cursive;
}
.Micon .Sec>li:hover{
    background: #296dac;
    color: #fff;
    cursor: pointer;
}
.Micon .Sec>li>a{
    color: black;
}
.Micon .Sec>li:hover a{
    color: #fff;
    font-weight: 600;
}
.onePage .sub{
    margin: 0 auto;
    width: 15rem;
    background: rgb(241, 241, 241);
    border: 1px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.onePage .sub>li:hover{
    background: #ff9f2d;
    border: 1px solid black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.onePage .sub:hover{
    border: none;
}
.onePage .sub>li:hover a{
    font-weight: bold;
    color: white;
}


/* **********************************Micon Menu Span************************************ */
.mainM{
    position: fixed;
    left: 2rem;
    top: 8%;
    width: 2rem;
    height: 2rem;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
}

.mainM span{
    width: 2rem;
    height: .25rem;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .3rem;
    margin: .4rem 0;
    transition: .5s;
}
.mainM:hover span{
    background: #296dac;
}

/* .mainM:hover span:nth-child(1), */ .mainM.active span:nth-child(1){
   position: absolute;
   top: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    width: 2rem;
    height: .3rem;
    background: #ff9f2d;
    border-radius: .3rem;
    box-shadow: 0 0 2px rgba(0,0,0,0.8); 
}
/* .mainM:hover span:nth-child(2), */ .mainM.active span:nth-child(2){
    display: none;
}
/* .mainM:hover span:nth-child(3),  */.mainM.active span:nth-child(3){
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    width: 2rem;
    height: .3rem;
    background: #ff9f2d;
    border-radius: .3rem;
    box-shadow: 0 0 2px rgba(0,0,0,0.3); 
}


.webDesign img{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 0;
    height: auto;
  }

  /* ******************************** Scroll Button ****************************************** */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: #ff9f2d;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    z-index: 1000;
}

  /* ************************************************************************** */
.webDesign{
    position: relative;
}
.naviG{
    width: 100%;
    height: 100%;
}
   
.naviG ul li{
    width: 10rem;
    height: 10rem;
    padding: 5px;
    position: absolute;
    cursor: pointer;
    display: inline-block;
}
.naviG ul li a{
  display: block;
  width: 100%; /* Make the anchor tag fill the entire width of the list item */
  height: 100%; /* Make the anchor tag fill the entire height of the list item */
  margin: 0;
  padding: 0;
}
.naviG ul .rect:first-child{
    top: 40%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.naviG ul .rect:last-child{
    top: 98%;
    z-index: 1000;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px){
    .webDesign img{
        width: 100%;
        margin: 0 auto;
      }
}